@use '../../theme' as *;

.leaderboard{
    &__container{
        display: flex;
        flex-direction: column;
        padding: $spacing-0 $spacing-10;
        gap: $spacing-20;
    }

    &__headerContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

// Mobile View
@include sm{
    .leaderboard{
        
    }
}