@use '../../theme' as *;

.leaderboard{
    &__container{
        display: flex;
        flex-direction: column;
        padding: $spacing-10;
        gap: $spacing-20;
        background-color: $chinese-white;
        height: 100%;
    }

    &__headerContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $coral-red;
    }
}

// Mobile View
@include sm{
    .leaderboard{
        
    }
}