@use "../../theme" as *;

.dashboard {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: $chinese-white;
    padding: $spacing-20;
    align-items: center;
  }

  &__subContainer {
    width: 100%;
  }

  &__title.MuiTypography-root {
    font-size: $spacing-50;
    color: $coral-red;
    font-weight: $font-weight-bold;
  }

  &__subTitle.MuiTypography-root {
    color: $blueberry;
    font-size: $spacing-30;
    font-weight: $font-weight-semi-bold;
  }

  &__tableImage {
    width: $spacing-40;
    height: $spacing-40;
    object-fit: "cover";
    align-self: "center";
    border-radius: $spacing-10;
  }
}
