@use "../../../../theme" as *;

.topLeadersList {
  &__container {
    display: flex;
    flex-direction: column;
    gap: $spacing-20;
    margin-top: $spacing-10;
    width: 100%;
  }

  &__headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__headerTitle.MuiTypography-root {
    color: $blueberry;
    font-size: $spacing-20;
    font-weight: $font-weight-bold;
    @media (min-width: 480px) {
      font-size: 1.5rem;
    }

    @media (min-width: 768px) {
      font-size: 2rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.875rem;
    }
  }

  &__buttonStyle.MuiButtonBase-root {
    background-color: $coral-red !important;
    width: max-content;
    align-self: center;
  }
}
