@use "../../theme" as *;

.login {
  &__container {
    display: flex;
    flex-direction: column;
    padding: $spacing-30;
    width: 100%;
    height: 100%;
    background-color: $chinese-white;
    justify-content: center;
  }

  &__subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    gap: $spacing-10;
    align-self: center;
  }

  &__forgotPassword {
    color: $davy-grey;
    text-decoration: none;
  }

  &__title.MuiTypography-root {
    font-size: $spacing-30;
    font-family: $primary-font;
    font-weight: bold;
    text-align: center;
    color: $coral-red;
    align-self: center;
  }

  &__buttonStyle.MuiButtonBase-root {
    background-color: $coral-red !important;
    align-self: center;
  }
}

@include sm {
  .login {
    &__subContainer {
      width: 100%;
    }
  }
}

@include md {
  .login {
    &__subContainer {
      width: 70%;
    }
  }
}
