@use "../../theme" as *;

.notFound {
  &__container {
    background-color: $chinese-white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@include sm {
  .notFound {
    &__image {
      width: 70%;
    }
  }
}
