@import '../../theme';

.home{
    &__container{
        display: flex;
        flex-direction: row;
        background-color: $raisin-black;
    }
}

// Mobile View
@include sm{
    .home{
        
    }
}