@use "../../theme" as *;

.home {
  &__container {
    width: 100%;
    margin-left: 0;
    padding: $spacing-20;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $chinese-white;
    align-items: center;
  }

  &__title.MuiTypography-root {
    color: $coral-red;
    font-size: $spacing-50;
    font-weight: $font-weight-bold;
  }

  &__subContainer {
    display: none;
  }

  &__buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: $spacing-5;
  }
}

// Mobile View
@include sm {
  .home {
    &__subContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    &__title.MuiTypography-root {
      color: $coral-red;
      font-size: $spacing-40;
      font-weight: $font-weight-bold;
      text-align: center;
    }
  }
}
