@use '../../theme' as *;

.submitCommission{
    &__container{
        display: flex;
        flex-direction: column;
        padding: $spacing-30;
        gap: $spacing-10;
        width: 100%;
        background-color: $chinese-white;
        color: $raisin-black;
    }

    &__title.MuiTypography-root{
        font-size: $spacing-30;
        font-family: $primary-font;
        font-weight: bold;
        text-align: center;
        color: $coral-red;
    }

    &__subcontainer{
        display: flex;
        flex-direction: column;
        gap: $spacing-10;
        justify-content: center;
    }
}

// Mobile View
@include sm{
    .submitCommission{
        
    }
}