@use '../../theme' as *;

.createAuction{
    &__container{
        background-color: $chinese-white;
        padding: $spacing-30;
    }
    &__bodysubcontainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: $spacing-10;
    }
    &__uploadcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px dashed #ccc;
        text-align: center;
    }
    &__image{
        width: $spacing-500;
        height: $spacing-500;
    }
}

// Mobile View
@include sm{
    .createAuction{
        
    }
}